.about-copy {
    display: flex;
    justify-content: center;

    .about-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 75%;
        padding: 2em;

        @media screen and ( max-width: 520px ){
            width: 88%;
        }

        p {
        font-family: $font__main;
        font-size: 1em;
        font-weight: 400;
        letter-spacing: 1px;
        }

        .about-title {
            font-weight: 700;
        }

        h3 {
            width: 80%;
            text-align: center;

            .about-quote {
                font-weight: 400;
                font-size: 2em;
                
                
            }
        }
    }
}