
// Footer 
// 
// 
footer {
  display: flex;
  flex-direction: column;

}

.footer-logo-small {
  align-self: center;
}

.missing-links-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  margin-bottom: 2em;
  width: 80%;

  .ml-link {
    text-decoration: none;
    color: #000;
    font-family: $font__main;
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 2px;
    font-weight: 300;
    line-height: 1.5;
    padding-top: 0.8em;
    margin: 0.1em;
  }

}

.ml-link.text-color {
  color: #d0d0d0;
}

a.ml-link:hover {
  text-decoration: underline;
}





.footer-bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000000;

    .copyright-info {
      display: flex;
      justify-content: center;
      width: 25%;
      margin: 20px auto 0;


      p {
        color: #FFF;
        font-family: $font__main;
        text-transform: uppercase;
        font-size: 0.5em;
        font-style: italic;
        letter-spacing: 1px;
        margin-right: 1em;

        
      }

    }

    .developer-info {
      width: 25%;
      margin: 0 auto 20px;
      display: flex;
      justify-content: center;


      p {
        color: #FFF;
        font-family: $font__main;
        text-transform: uppercase;
        font-size: 0.5em;
        font-style: italic;
        letter-spacing: 1px;

        a{
          text-decoration: none;
          color: #FFF;
          font-family: $font__main;
          font-size: 0.5em;
          font-style: italic;
          text-transform: uppercase;
          letter-spacing: 1px;
        }
      }
    }
}



