
// Footer 
// 
// 
footer {
  display: flex;
  flex-direction: column;

}

.footer-logo-small {
  align-self: center;
  width: 35px;
  margin: 0.8em;
}

.missing-links-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  margin-bottom: 2em;
  width: 80%;
  

  .ml-toggle {
    text-decoration: none;
    color: #000;
    font-family: $font__main;
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 2px;
    font-weight: 300;
    line-height: 1.5;
    margin: 0.1em;
    cursor: pointer;
    border-bottom: 1px solid #FFF;
    padding: 1% 3%;
  }

  .ml-toggle:hover {
    // border-bottom-color: #000;
    background-color: #f4f4f4;
  }

  .ml-link {
    text-decoration: none;
    color: #000;
    font-family: $font__main;
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 2px;
    font-weight: 300;
    line-height: 1.5;
    padding: 1% 3%;
    margin-top: 0.8em;
    // border-bottom: 1px solid #FFF;
  }

}

.ml-link.text-color {
  color: #d0d0d0;
}

a.ml-link:hover {
  // border-bottom-color: #000
  background-color: #f4f4f4;
}


.ml-link:not(:first-child) {
  display: none;
}


.footer-bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000000;
    height: 6vh;

    .copyright-info {
      display: flex;
      justify-content: center;
      width: 25%;
      margin: 0 auto;


      p {
        color: #FFF;
        font-family: $font__main;
        text-transform: uppercase;
        font-size: 0.5em;
        font-style: italic;
        letter-spacing: 1px;
        margin-right: 1em;

        
      }

    }

}



