.content-area {
    
    @media screen and ( max-width: 601px ){
    margin-top: 4.5em;
    }

    .site-main {
        .entry-content {
            margin: 0 auto;
        }

    }


}

.post-image {
    .post-image-background {
        background-size: cover;
        background-position: center;
        height: 100vh;
    }
}