header#masthead {
    height: 56px;

    display: flex;
             
    @media screen and ( max-width: 601px ){
        flex-direction: column;
    }

    .site-branding {
        display: flex;

        @media screen and ( max-width: 700px ){
            margin: 0.5em 2em;
        }
    
        @media screen and ( max-width: 601px ){
        justify-content: center;
        }
        
        .custom-logo {
            width: 175px;
            padding-left: 1em;

            @media screen and ( max-width: 700px ){
            display: none;
            }

            svg {
                width: 175px;
                height: 55px;
            
                &:hover #Layer_1_1_ {
                    fill:#f49ac1
                }
            }
        }


        .mobile-logo {
            display: none;
            min-width: 40px;

            @media screen and ( max-width: 700px ){
            display: block;
            }

            @media screen and ( max-width: 601px ){
            margin-top: 1em;
            }

        }
    } // .site-branding

} // Header


.grey-bar {
    min-height: 0px;
    background-color: #ffffff;
    transition: all 0.5s ease-in-out;
}

.grey-bar-height {
    min-height: 58px;
}

.bar-color {
    background-color:#ffffff;
    min-height: 58px;

    @media screen and ( max-width: 601px ){
    background-color: #ffffff;
    }
}