header#masthead {
    height: 56px;

    display: flex;
             
    @media screen and ( max-width: 601px ){
        flex-direction: column;
    }

    .site-branding {
        display: flex;
    
        @media screen and ( max-width: 601px ){
        justify-content: center;
        }
        
        .custom-logo-link {
            width: 175px;
            padding-left: 2em;

            @media screen and ( max-width: 700px ){
            display: none;
            }
        }

        .mobile-logo {
            display: none;
            // padding: 1em;
            min-width: 50px;

            @media screen and ( max-width: 700px ){
            display: block;
            }


        }
    } // .site-branding

} // Header


.grey-bar {
    height: 58px;
    background-color: #ffffff;
}

.bar-color {
    background-color: #f7f7f7;
}