.lookbooks {
    list-style-type: none;
    padding: 0;
    margin-block-start: 0;
    margin: 0;



    .lookbook-wrapper {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        display: flex;  
        justify-content: center;
        align-items: center;

    }

    .lookbook {

        a {
        color: #ffffff;
        text-decoration: none;
        }

        p {
        font-size: 18vw;
        text-transform: uppercase;
        
        @media screen and ( min-width: 650px ){
            font-size: 15vw;
        }


        }

    }
}




// ---- Single Lookbook Pages -----


#lookbook-title {
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
    width: 100%;
    background-color: #ffffff;
    top: 0;

    h2 {
        font-size: 2em;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 0.2em 0;
        
    }
}


#lookbook-title {
    position: sticky;
    top: 0;
}