*:focus {
    outline: 1px dotted black;
}

.ml-title {
    display: flex;
    justify-content: center;
    // border-top: 1px solid black;
    // border-bottom: 1px solid black;

    h1 {
        font-family: $font__main;
        font-weight: 300;
    }
}



.ml-content {
    display: flex;
    justify-content: center;


    .ml-content--inner{
        display: flex;
        flex-direction: column;
        width: 60%;

        a {
            text-decoration: none;
            color: #f49ac1;

            &:hover { color: black;}
        }

        h3 {
            text-transform: uppercase;
        }

        h4 {
            text-transform: uppercase;
            font-weight: 100;
        }
        
        p {
            font-weight: 100;
        }


    }

    .ml-content--inner:last-child {
        margin-bottom: 50px;
    }

}

section.ml-content:last-child {
    // border-bottom: 1px solid black;
    margin-bottom: 50px;
}