
.scrollup {
    transition: opacity 1s ease-in-out;
    opacity: 0;

.scroll-to-top {
    position: fixed;
    bottom: 46px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    .fas {
        color: #000
    }
}

}


.fade-arrow-in { opacity: 1; }
