

// Header Navigation
.main-navigation {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 1em;

        @media screen and ( max-width: 601px ){
        justify-content: center;
        }

    .menu-primary-menu-container {
       

        ul.menu {
            // reset
            list-style: none;
            display: flex;
            justify-content: space-between;
            margin-top: 0;
            -webkit-padding-start: 0px;

        
            li {
                padding: 1em;
            
                a {
                    text-decoration: none;
                    color: #000;
                    font-family: $font__main;
                    text-transform: uppercase;
                    font-size: 1.2em;
                    font-weight: 300;
                    letter-spacing: 2px;


                    @media screen and ( max-width: 601px ){
                    font-size: 1em;
                    }

                    @media screen and ( max-width: 500px ){
                    font-size: 0.75em;
                    }

                    &:hover li {background-color: lightgray;}
                }
            }
        }
    }

}

// Sub Navigation

.menu-item-has-children {
    position: relative;

    a {
        cursor: pointer;
    }

    .sub-menu {
        -webkit-padding-start: 0px;
        list-style: none;
        position: absolute;
        left: 0;
        display: none;
    }

    .is-visible {
        display: flex;
    }

}


  /* --------------------
# Missing Links Contact Reveal
------------------------ */